# Doxyfile 1.8.13

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

DOXYFILE_ENCODING      = UTF-8
PROJECT_NAME           = "btree"
PROJECT_NUMBER         = 0.1
PROJECT_BRIEF          = C++ Behaviour Tree Library
PROJECT_LOGO           =
OUTPUT_DIRECTORY       = ./doc
OUTPUT_LANGUAGE        = English
INPUT                  = src
RECURSIVE              = YES

GENERATE_HTML          = YES
GENERATE_LATEX         = NO
GENERATE_MAN           = NO
GENERATE_RTF           = NO
GENERATE_XML           = NO
GENERATE_DOCBOOOK      = NO
